:root {
    --cor-de-fundo: rgb(0, 255, 234);
}
body{
    background-color: var(--cor-de-fundo);
}


.cabeçalho-menu{
    background-color: var(--fundo-menu);
}

.cabeçalho-menu{
    display: block;
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    color: black;
    text-align: center;
    border-top: 1px solid;
}